# ***************************************************************
# Oracle Client Environment
# **************************************************************

# ORACLE_HOME
export ORACLE_HOME={{ oracle_client_home_directory }}

# TNS_ADMIN
export TNS_ADMIN=$ORACLE_HOME/network/admin

# LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:$LD_LIBRARY_PATH;

# NLS_LANG
export NLS_LANG={{ oracle_client_nls_lang }}

# Adding oracle client to PATH env var
export PATH=$PATH:$ORACLE_HOME/bin
